.beatBtn {
  height:100px;
  width:100px;
  border-radius:10%;
}

#beat1 {
  background-color:green;
}

#beat2 {
  background-color:red;
}

#beat3 {
  background-color:blue;
}

#beat4 {
  background-color:orange;
}

#beat5 {
  background-color:green;
}

#beat6 {
  background-color:red;
}

#beat7 {
  background-color:blue;
}

#beat8 {
  background-color:orange;
}

#beat9 {
  background-color:green;
}

#beat10 {
  background-color:red;
}

#beat11 {
  background-color:blue;
}

#beat12 {
  background-color:orange;
}
